.formSection {
    position: relative;
    height: 100vh;
    padding: 1px 0 0 0;
    margin: -1px auto 0 auto;
    display: grid;
    align-items: center;
}

.smallWave {
    position: absolute;
    bottom: 0px;
    left: -80px;
}

.smallWave img {
    height: 80vh;
}

.whiteWave {
    height: 100vh;
    position: absolute;
    left: -100px;
    z-index: 5;
}

.whiteWave img {
    height: 100vh;
}