.signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUpForm .header {
    font-size: 30px;
    font-weight: 600;
    color: #4DAAAA;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.signUpForm h3 {
    padding: 0;
    margin: 0;
}

.signUpForm .header .note {
    text-align: center;
}

.signUpForm .headerIcon {
    margin-right: 25px;
    margin-top: 8px;
}

.signUpForm .submit {
    margin-top: 0px;
}

.signUpForm .submit h5 {
    text-align: center;
}

.signUpForm .note {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 8px;
    color: #A5A5A5;
    cursor: pointer;
}

.signUpForm .stepContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    margin-top: 0;
}

.signUpForm .stepContainer .line {
    width: 80px;
    height: 0px;
    border: 1px solid #E5E5E5;
    background-color: #E5E5E5;
    margin-bottom: 8px;
}

@media only screen and (min-width: 500px) {
    .signUpForm .header,
    .signUpForm .form {
        min-width: 400px;
    }
}

@media only screen and (max-height: 700px) {
    .signUpForm .header {
        font-size: 20px;
    }
    .signUpForm .stepContainer {
        margin-bottom: 2px;
    }
}