.socialBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: #A5A5A5 solid 0.5px;
    border-radius: 5px;
    color: #A5A5A5;
    margin: auto;
    margin-top: 10px;
    height: 40px;
    cursor: pointer;
}

.socialBox:hover {
    border: #4DAAAA solid 1px;
    color: #4DAAAA;
    font-weight: 500;
}


.socialBox svg {
    margin-right: 10px;
    width: 20px;
    fill: #4267B2;
}

