.stepOne .submit {
    margin-top: -8px;
    
}

.stepOne .submit h5 {
    text-align: center;
}

.stepOne .note {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 8px;
    color: #A5A5A5;
    cursor: pointer;
}

.stepOne .nextSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.noteP1 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #A5A5A5;
    cursor: pointer;
    padding: 0;
    margin-top: -8px;
}
.noteP2 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #A5A5A5;
    cursor: pointer;
    padding: 0;
    margin-top: -15px;
}


.nextBtn button {
    border: none;
    text-align: center;
    width: 45px;
    margin: auto;
    background-color: transparent;
}

.nextBtn:hover {
    animation-name: vibrate;
    animation-duration: 1s;
}

@keyframes vibrate {
    0% {
        transform: translateX(-10px);
    }
    25% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(-10px);
    }
    75% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}

.nextBtn .nextImg {
    width: 40px;
    cursor: pointer;
}