.toggleBox {
    width: 60px;
    height: 30px;
    background: #4DAAAA;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}
.toggleSection {
    display: flex;
    align-items: center;
    float: right;
    margin: 20px 50px 20px;
}
.toggleSection h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 12px;
    color: #A5A5A5;
    cursor: pointer;
    margin-right: 20px;
}