.welcomeSection {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.welcomeSection .hidden {
    opacity: 0;
    transition: opacity .5s ease-out;
}

.welcomeSection .shown {
    opacity: 1;
    transition: opacity .5s ease-out;
}

.welcomeSection .content {
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.content .line {
    width: 50px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
}

.welcomeSection .content img {
    height: 50vh;
    min-height: 300px;
}

.welcomeSection .content button {
    display: none;
    background-color: #4DAAAA;
    outline: none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    width: 230px;
    height: 40px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}

.welcomeSection .content p {
    font-size: 25px;
    width: 40%;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .welcomeSection .content button {
        display: block;
    }
    .welcomeSection .content p {
        font-size: 25px;
        width: 60%;
        text-align: center;
    }
}