.shopHero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    padding: 0px 100px;
    position: relative;
    flex-wrap: wrap;
    grid-gap:30px;
    overflow-x: hidden;
}
.rightHero img {
    width: 100%;
}
.shopHero .wave {
    height: 25%;
    position: absolute;
    bottom: -25%;
    width: 100%;
}
.leftHero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.leftHero h1 {
    font-size: calc(25px + 1vmin);
    color: #4DAAAA
}

.leftHero .highlighted {
    color: #FFBCBC;
}

.leftHero p {
    font-size: calc(15px + 1vmin);
    font-weight: bolder;
    width: 70%;
    color: #C4C4C4;
}

@media only screen and (max-width: 1000px) {
    .shopHero {
        padding: 0px 30px;
    }
    .shopHero .wave {
        height: 25%;
        position: absolute;
        bottom: -25%;
    }
}
@media only screen and (max-width: 850px) {
    .shopHero {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
  
}