.offerList {
    padding: 25px 50px 100px 100px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr));
    gap: 25px;
}

.offerList .bttn {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .offerList {
        padding: 10px 50px 100px 50px;
    }
}