.border {
    width: 42.2%;
    height: 35px;
    position: absolute;
    pointer-events: none;
    border-radius: 5px;
    
}
.border div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.div1{
    border-left: 1px solid #4DAAAA;
}
.div2{
    border-top: 1px solid #4DAAAA;
}
.div3{
    border-right: 1px solid #4DAAAA;
}
.div4{
    border-bottom: 1px solid #4DAAAA;
}
