.saveat{
color: #4DAAAA;
font-size: 2.34vw;
font-weight: 700;
line-height: 0.167578vw;
letter-spacing: 0em;
cursor: pointer;
}
.logo{
    width: min-content;
    position: absolute;
    top: 1.74vw;
    left: 3vw;
}

.wrap{

    width: 100%;
    border-right:solid 0.117187vw #95959542;
    height: 77vh;
    margin-top: 2.62vw;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 22vw;
    height: 100vh;
    justify-content: center;
}
.SideBar{
    display: flex;
    flex-direction: column;
    width: 88%;
    height: 100%;
    justify-content: space-around;
    margin-left: 12%;
    z-index: 99;
}
.block{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.choice{
    height: 100%;
    /* width: 88%; */
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.3vw;
    margin: auto 2.08vw;
}
.pair{
    display: flex;
    align-items: center;
    width: fit-content;
    /* justify-content: space-between; */
    cursor: pointer;
    height: 70%;
    padding-left: 0.761717vw;
    color: #BCC5C5;

}
.active{
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    height: 70%;
    padding-left: .76vw;
    border-radius: 1.17187vw;
    background: #4DAAAA;
    color: white;

}
.index{
    width: .65vw;
    height: 4.8vw;
    background: #4DAAAA;
    margin-right: -.4vw;
    border-radius: 0.175781vw;
}

.hidden{
    display: none;
}

@media only screen and (max-width: 800px) {
    .choice{
    display: none;        
    }
    .container{
        min-width: 50px;
    }
    .logo{
        left: 20px;
    }
    .active{
        display: flex;
        align-items: center;
        width: 63%;

        cursor: pointer;
        height: 70%;
        border-radius: 1.17187vw;
        background: #4DAAAA;
        color: white;
    
    }
   .block svg{
        margin-left: 7px;
    }

}
@media only screen and (max-width: 650px) {
  
    .container{
       display: none;
    }

}
