.shopHero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
    position: relative;
    flex-wrap: wrap;
}

.shopHero .wave {
    height: 25%;
    position: absolute;
    bottom: -25%;
    width: 100%;
}

.leftHero h1 {
    font-size: calc(25px + 1vmin);
    color: #4DAAAA
}

.leftHero .highlighted {
    color: #FFBCBC;
}

.leftHero p {
    font-size: calc(15px + 1vmin);
    font-weight: bolder;
    width: 70%;
    color: #C4C4C4;
}

@media only screen and (max-width: 1000px) {
    .shopHero {
        padding: 0px 50px;
    }
    .shopHero .wave {
        height: 25%;
        position: absolute;
        bottom: -25%;
    }
}

.save,
.saveRest {
    padding-left: 5px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-size: calc(40px + 1vmin);
    color: #4DAAAA;
    font-weight: 700;
    margin-right: 5px;
}

.save {
    /* For increasing performance 
                         ID/Class should've been used. 
                         For a small demo 
                         it's okaish for now */
    animation: showup 7s infinite;
}

.saveRest {
    width: 0px;
    animation: reveal 7s infinite;
}

.saveRest span {
    margin-left: -355px;
    animation: slidein 7s infinite;
}

@keyframes showup {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }
    20% {
        margin-left: -800px;
    }
    35% {
        margin-left: 0px;
    }
    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }
    20% {
        opacity: 1;
        width: 0px;
    }
    30% {
        width: 355px;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 355px;
    }
}

.coolSave {
    display: flex;
    align-items: center;
}