.deals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shopHero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
    position: relative;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px
}

.shopHero .wave {
    height: 25%;
    position: absolute;
    bottom: -25%;
    width: 100%;
}

.leftHero h1 {
    font-size: calc(25px + 1vmin);
    color: #4DAAAA;
    font-weight: bolder;
}

.leftHero .highlighted {
    color: #FFBCBC;
}

.leftHero p {
    font-size: calc(15px + 1vmin);
    font-weight: normal;
    width: 70%;
    color: #A5A5A5;
    font-weight: bolder;
}

.heroImage {
    position: relative;
}

.heroImage img {
    z-index: 5;
    min-width: 80%;
    width: 100%;
}

.bttn {
    display: flex;
    gap: 15px;
    width: 50%;
}

.anim.animate {
    width: auto;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    animation: appear 1s ease-in;
}

.bttn {
    display: flex;
    gap: 15px;
    width: 50%;
}

.bttn.animate {
    max-width: 50%;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    animation: appearButton 1s ease-in;
}

@keyframes appear {
    0% {
        max-width: 0%;
    }
    100% {
        max-width: 100%;
    }
}

@keyframes appearButton {
    0% {
        max-width: 0%;
    }
    100% {
        max-width: 50%;
    }
}

@media only screen and (max-width: 1000px) {
    .shopHero {
        padding: 0px 50px 50px;
    }
    .shopHero .wave {
        height: 25%;
        position: absolute;
        bottom: -25%;
    }
    .bttn {
        width: 80%;
    }
    .anim.animate {
        width: auto;
        max-width: 100%;
        overflow: unset;
        white-space: wrap;
        animation: unset;
    }
    .bttn.animate {
        max-width: 80%;
        overflow: unset;
        white-space: wrap;
        animation: unset;
    }
}

@media only screen and (max-width: 650px) {
    .shopHero {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}