.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4daaaa;
    width: 100vw;
    z-index: 199;
    opacity: 0;
    animation: anim 0.3s linear forwards 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: calc(20px + 1vmin);
    min-height: 100vh;
}

.navbar h1 {
    cursor: pointer;
}

@keyframes anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-height: 600px) {
    .navbar h1 {
        zoom: 40%;
    }
}