.weOffer {
    padding: 25px 50px 25px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(20px + 1vmin);
}

.weOfferContainer {
    position: relative;
}

.weOffer p {
    color: #fff;
    font-size: calc(20px + 1vmin);
    margin: calc(5px + 1vmin) 0;
    font-weight: bolder;
    max-width: 80%;
}

.weOffer .buttons {
    display: flex;
    gap: calc(15px + 1vmin);
}

.weOffer .functions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    gap: calc(5px + 0.5vmin);
}

.weOffer .back {
    position: absolute;
    top: calc(25% - 10px - 1vmin);
    left: calc(10% - 10px - 1vmin);
    background-color: #4daaaa;
    width: 80%;
    height: 50%;
    z-index: -2;
}

.weOffer .functions div {
    padding: calc(20px + 1vmin);
    border-radius: 25px;
}

.weOffer .func {
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border: 2px solid #4daaaa;
}

.weOffer .deco,
.weOffer .deco1 {
    color: #fff;
    text-align: center;
}

.weOffer .deco1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    letter-spacing: 20px;
}

.weOffer .deco1 h1 {
    margin: 0;
}

.weOffer .deco h3 {
    font-size: calc(20px + 1vmin);
    margin: 0;
}

.weOffer .functions h2 {
    color: #FFBCBC;
    font-size: calc(25px + 1vmin);
    margin: 0;
}

.weOffer .functions p {
    color: #A5A5A5;
    font-size: calc(15px + 1vmin);
    width: 100%;
    max-width: unset;
}

.flap1 {
    position: absolute;
    background-color: white;
    width: calc( 35% + 10px);
    padding: 0 10px;
    left: -50%;
    height: 80%;
}

.flap1.animate {
    animation: goLeft 1s ease-in;
    animation-iteration-count: 1;
}

.flap2 {
    position: absolute;
    background-color: white;
    width: calc( 40% + 10px);
    padding: 0 10px;
    height: 80%;
    right: -50%;
}

.flap2.animate {
    animation: goRight 1s ease-in;
    animation-iteration-count: 1;
}

@keyframes goRight {
    from {
        right: 0px;
    }
    to {
        right: -50%;
    }
}

@keyframes goLeft {
    from {
        left: 0px;
    }
    to {
        left: -50%;
    }
}

.anim.animate {
    width: auto;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    animation: appear 1s ease-in;
}

.buttons.animate {
    width: auto;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    animation: appear 1s ease-in;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    z-index: -15;
    bottom: -1px;
    background-image: linear-gradient(to top, #4daaaa 20%, #94d0d0 80%);
}

.bgTop {
    z-index: -5;
    opacity: 0.5;
}

.bgMiddle {
    z-index: -10;
    opacity: 0.75;
}

.bgBottom {
    z-index: -15;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

@keyframes appear {
    0% {
        max-width: 0%;
    }
    100% {
        max-width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .weOffer {
        display: flex;
        flex-wrap: wrap;
    }
    .weOffer {
        padding: 10px 50px 10px 50px;
    }
    .weOffer .functions {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        position: relative;
        gap: calc(5px + 0.5vmin);
    }
    .weOffer .back {
        position: absolute;
        top: 0;
        left: calc( - 10px - 1vmin);
        width: 80%;
        height: 100%;
        z-index: -2;
    }
    .anim.animate,
    .buttons.animate {
        width: unset;
        max-width: unset;
        overflow: unset;
        white-space: unset;
        animation: unset;
    }
}