.SideNav{
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50%;
    transform: translateX(-100%);
    transition: ease-out .9s ;
    z-index: 11;
    display: flex;
    align-items: center;

}

.openNav{
    transform: translateX(0%);
    transition: ease-out .9s ;
} .side{
    margin-top: 20px;
    margin-left: 30px;
}

.menuItem{
    height: 60%;
    margin-left: 19px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-top: 70px;
}
.options{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 100px;
}
@media screen and (max-width: 900px) {
  
    .X{
      display: block;
      top: 0;
      left: 4px;
    }
   }
     @media screen and (max-width: 600px) {
        .SideNav{
        width:85%;
        
        }
   
   }



   .saveat{
    color: #4DAAAA;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    cursor: pointer;
    }
    .logo{
        width: min-content;
        position: absolute;
        top: 25px;
        left: 40px;
    }
    .wrap{
    
        width: 100%;
        border-right:solid 2px #95959542;
        height: 77vh;
        margin-top: 40px;
    
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 350px;
        height: 100vh;
        justify-content: center;
    }
    .SideBar{
        display: flex;
        flex-direction: column;
        width: 88%;
        height: 100%;
        justify-content: space-around;
        margin-left: 12%;
    }
    .block{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .choice{
        height: 100%;
        /* width: 88%; */
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 20px;
        margin: auto 32px;
    }
    .pair{
        display: flex;
        align-items: center;
        width: fit-content;
        /* justify-content: space-between; */
        cursor: pointer;
        height: 70%;
        padding-left: 13px;
        color: #BCC5C5;
    
    }

    .index{
        width: 11px;
        height: 82px;
        background: #4DAAAA;
        margin-right: -7px;
        border-radius: 3px;
    
    }
    .hidden{
        display: none;
    }
    
